body{ 
    margin: 0;
    font-family: verdana;
    background-color:#eeeeee;		
    }
    .left{
        float: left;
        margin: 0;
        padding: 0;
    }
    .right{
        float: right;
        margin: 0;
        padding: 0;
    }
    .navbar{
        top: 0;
        width : 100%;
        height: 50px;
        background-color: #232323;
        margin-right: 50px;
        position: fixed;
        z-index: 1;
    }
    .title{
        padding-top: 20px;
        color: #ffffff;
        font-family: sanserif;
        font-size: 32px;
        font-weight: bold;
    }
    .nav-container{ 
        width: 80%;			
        margin: 0 auto; 
        position: relative;
        overflow: auto;
    }
    .container{ 
        width: 80%;
        top: 70px;			
        margin: 20px auto; 
        position: relative;
    }
    .form-control{
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #d0d0d0;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        padding-left: 5px;
    }
    .text-area{
        margin: 10px 10px 0 10px;
        height: 200px;
        width: 90%;
    }
    .header{
        background-color: #232323;
        width: 100%;
        height: 25px;
        margin: 0;
        color: #dddddd;
        text-align: center;
        padding-top: 5px;
    }
    .menu{
        margin-top: 15px;
        list-style-type: none;
        float: right;
    }
    .menu li{
        display:inline;
        margin-left: 15px;;
    }
    label{
        width: 100%;
        margin-top: 15px;
    }
    .menu li a{
        color: #ffffff;
        text-decoration: none;
    }
    .active{
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 10px;
    }
    .content{
        width: 68%;
        background-image: url('../images/pregnancy-care-one.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
    }
    .impact{
        width: 30%;
        float: right;
        border-radius: 5px;
    }
    .row{
        border: 1px solid #cdcdcd;
        width: 95%;
        margin: 0 10px 20px 10px;
        display: inline-block;
    }
    .col{
        width:45%;
        float: left;
        padding: 5px 10px;
    }
    .btn{
        width: 50%;
        background-color: #dddddd;
        height: 35px;
        border-radius: 7px;
        border: 1px solid #d0d0d0;
        font-family: verdana;
        font-size: 20px;
        margin: 20px 80px;
    }
    .btn:hover{
        color: #000000;
        border: 1px solid #000000;
    }
    .form{
        width: 30%;
        padding: 30px;
        border: 1px solid #dddddd;
        margin: 50px auto;
    }
    .success{
        width: 100%;
        color: #259604;
        background-color: #bbff99;
        border-radius: 5px;
        border: 1px solid #259604;
        text-align: center;
        display: none;
    }
    .error{
        width: 100%;
        color: #ff0000;
        background-color: #ffbb99;
        border-radius: 5px;
        border: 1px solid #ff0000;
        text-align: center;
        display:none;
    }
    .content-header{
        margin-top: 25%;
        width: 100%;
        text-align: center;
        font-size: 250%;
        font-family: 'Gill Sans', 'sans-serif';
    }
    .content-tagline{
        width: 100%;
        text-align: center;
        font-size: 150%;
        font-family: 'calibri';
        margin-bottom: 5%;
    }
    .see-more{
        height: 20px;
        border-radius: 7px;
        text-decoration: none;
        color:darkgrey;
        width: 150px;
        font-size: 28px;
        background-color: #eeeeee;
        border: 1px solid gray;
        padding: 0;
    }
    p{
        margin: 0;
        padding:0;
        font-family: verdana;
        font-size: 26px;
        font-weight: lighter;
    }
    h5{
        margin: 0 0 20px 0;
        padding:0;
        font-weight: lighter;
        font-family: verdana;
    }
    .see-more:hover{
        background-color: darkgrey;
        color: #eeeeee;
    }
    .answer-box{
        width: 30%;
        display: none
    }
    .ans-button{
        width: 7%;
        float: right;
        padding: 3px 3px 3px 10px;
        border: 1.5px solid #000000;
        color: #cdcdcd;
        background-color: #232323;
    }
    .ans-button:hover{
        background-color: #cdcdcd;
        color: #232323;
    }
    .row-content{
        margin: 0;
        padding: 10px;
        font-size: 16px;
    }
    #content-info{
        margin-top: 23%;
        padding: 20px;
        position:sticky;
        line-height: 1.5em;
    }
    #menu-icon{
        display: none;
    }

    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 750px) {
    .container {
      width: 100%;
    }
    #menu-icon{
        display: block;
    }
    .menu-icon:hover .menu{
        display: none;
    }
    .menu{
        position:absolute;
        display:none;
        position: absolute;
        min-width: 160px;
        z-index: 2;
    }
    .dropdown-content a {
        padding: 12px 16px;
        display: block;
      }
    .nav-container{
        width: 100%;
    }
    .row{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .content-info{
        margin-top: 5%;
    }
    .impact{
        margin-top: 20px;
        width:100%;
    }
  }